.bg {
    top: 25%;
    left: 30%;
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: green;
}

.chainsaw {
    cursor:url(../imgs/chainsaw.png), auto;
}

.peneira {
    cursor:url(../imgs/peneira.png), auto;
}

.moca {
    cursor: url(../imgs/moca.png), auto;
}

.title {
    font-family: Helvetica;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    background-color: #00000000;
    font-size: 68vh;
    font-weight: 900;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 15;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
    position: fixed;
}

.carta {
    opacity: 0%;
    filter: opacity(0%);
    position: absolute;
    z-index: 1;
    width: 40vw;
    height: 24vw;
    text-align: center;
    background-image: url(https://thumbs.dreamstime.com/b/card-suit-vector-pattern-background-playing-poker-symbol-texture-backdrop-white-199790233.jpg);
}

.brazil_arcade {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25vh;
    line-height: 17vh;
    width: 100vw;
    position: absolute;
    z-index: 20;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes spinning-around {
    0% {left:0%; width: 100%;}
    33% {left: 100%; width: 0%;} 
    66% {left: -100%; width: 0%;} 
    100% {left: 0%; width: 100%;}  
  }

.span_arcade {
    background-color: white;
    z-index: 15;
    width: 45vw;
    height: 20vh;
    top: 40vh;
    left: 27vw;
    position: absolute;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.lozenge {
    z-index: 13;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%; 
    position: absolute;
    transform: rotate(-15deg) skew(59deg); 
    background: darkgoldenrod;
  }


.list {
    opacity: 0%;
    filter: opacity(0%);
}


.cigarrin {
    cursor:url(../imgs/cigarettes.png), auto;
}

.endless {
    background-color: green;
    width: 100%;
    height: 100%;
}